.root {
    -fx-font-family: "-apple-system", "Helvetica Neue", "Segoe UI", sans-serif;
    -fx-background-color: #f5f5f7;
    -fx-padding: 20;
}

.text-field, .button {
    -fx-font-size: 14px;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

.button {
    -fx-background-color: #007aff;
    -fx-text-fill: white;
    -fx-padding: 8 16;
}

.table-view {
    -fx-background-color: white;
    -fx-border-color: #e0e0e0;
    -fx-border-width: 1;
    -fx-border-radius: 6;
}

.table-column {
    -fx-alignment: TOP-LEFT;
}

.table-row-cell {
    -fx-cell-size: -1;
    -fx-padding: 2 5;
}

.table-cell {
    -fx-padding: 2;
    -fx-cell-size: -1;
}

.label-red {
    -fx-background-color: red;
}